.custom-container{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 1.2rem;
    }


    .accordion-button[aria-expanded="true"] .fa-chevron-down {
      transform: rotate(180deg);
    }